@model Guest_book.Models.MessagesModel
@{
    ViewData["Title"] = "Home Page";
   
}

<div class="text-center">
    <h1 class="display-4">Гостевая книга</h1>
    <div class="guest col-md-10">
        <table class="row justify-content-between">
            <tr>
                <td class="col-sm-2 fs-4 fw-bold">
                @Html.DisplayNameFor(model => model.Name.Login)
            </td>
                <td class="col-sm-5 fs-4 fw-bold">
                @Html.DisplayNameFor(model => model.Messages)
            </td>
                <td class="col-sm-2 fs-4 fw-bold">
                @Html.DisplayNameFor(model => model.MessageDate)
            </td>
        </tr>
        </table>
        @if (Model != null)
        {
            @foreach (var item in Model.Messages)
            {
                <table class="justify-content-between col">
                    <tr>
                        <td class="col-sm-2">
                            @Html.DisplayFor(modelItem => item.Name.Login)
                        </td>
                        <td class="col-sm-5 text-start">
                            @Html.DisplayFor(modelItem => item.Message)
                        </td>
                        <td class="col-sm-2">
                            @Html.DisplayFor(modelItem => item.MessageDate)
                        </td>
                    </tr>
                </table>
            }

        }
  </div>

    @if (Context.Session.GetString("login") != null)
    {
        <div class="row ">
            <div class="col-md-10 ">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="mytext-danger"></div>
                    <div class="form-group">
                        <label asp-for="Message" class="control-label m-t-10"></label>
                        <textarea asp-for="Message" class="form-control"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @{
                            var time = DateTime.UtcNow;
                        }
                        <input type=hidden asp-for="MessageDate" class="form-control" value=@time />
                    </div>
                    <div class="form-group">
                        @{
                            var login = Context.Session.GetString("login");
                        }
                        <input type=hidden asp-for="Name.Login" class="form-control" value=@login/>
                        <input type=hidden asp-for="UserId" class="form-control" value=0/>
                </div>
                <div class="form-group">
                        <input type="submit" value="Добавить сообщение" class="btn btn-primary mybtn" />
                </div>
                    

            </form>
        </div>
    </div>
        

    }

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}